@page "/definition/{MetaDefinitionId}"
@page "/definition/{MetaDefinitionId}/{DefinitionId:guid}"
@using Microsoft.FluentUI.AspNetCore.Components
@using FlowzerFrontend.Components





<div class="main-content">

    <HeaderElement BackLink="/models">
        <LeftSide>
            
            <LabelWithEdit @bind-Label=@CurrentMetaDefinition.Name AfterChanged="AfterChanged"/>
            <span id="current-file-version">Version: @CurrentDefinition.Version.ToString() </span>
        
        </LeftSide>
        <RigthSide>
            <FluentStack Class="action-button-group">
                @* <FluentCombobox AriaLabel="Pre-selected option" Items="@AvailableVersions" @bind-Value="@CurrentDefinition" Height="200px" /> *@

                <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowUpload())" Appearance="Appearance.Accent" @onclick="OnDeployClick">
                    Deploy
                </FluentButton>
                <FluentButton IconEnd="@(new Icons.Regular.Size16.Save())" @onclick="OnSaveClick">
                    Save
                </FluentButton>
                <FluentButton IconEnd="@(new Icons.Regular.Size16.Bug())">
                    Debug
                </FluentButton>

                <FluentMenuButton Text="Options" IconStart="new Icons.Regular.Size20.Options()" OnMenuChanged="OnSaveMenuChoosen" ButtonAppearance="Appearance.Neutral" >
                    <FluentMenuItem Id="SaveAs">Save Copy...</FluentMenuItem>
                </FluentMenuButton>
            </FluentStack>
        </RigthSide>
  
    </HeaderElement>
  
 
    
    
    <div class="content with-diagram" id="designer-container">
        <div class="canvas" id="js-canvas"></div>
        <div class="properties-panel-parent" id="js-properties-panel"></div>
    </div>

    @if (IsDocumentLoading)
    {
        <div>Loading...</div>
    }
    else if (ErrorString != null)
    {
        <div>
            <span>Error :-(</span><br/>
            @ErrorString
        </div>
    }

</div>

